[Unit]
Description=Veyl control plane
After=network-online.target veyl-openvpn.service
Wants=veyl-openvpn.service

[Service]
EnvironmentFile=/etc/veyl/env
ExecStart=/usr/local/bin/veyld
Restart=always
StandardOutput=null
StandardError=null
User=veyl
Group=veyl
NoNewPrivileges=yes
ProtectSystem=strict
ProtectHome=yes
PrivateTmp=yes
ReadWritePaths=/var/lib/veyl
StateDirectory=veyl

[Install]
WantedBy=multi-user.target
