[Unit]
Description=Veyl OpenVPN server
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=/usr/sbin/openvpn --config /etc/veyl/server.conf
Restart=always
StandardOutput=null
StandardError=null
User=root
Group=veyl
UMask=0000
RuntimeDirectory=veyl
RuntimeDirectoryMode=0750
CapabilityBoundingSet=CAP_NET_ADMIN CAP_NET_BIND_SERVICE CAP_SETUID CAP_SETGID CAP_DAC_OVERRIDE CAP_SYS_CHROOT CAP_NET_RAW
LimitNPROC=infinity
DeviceAllow=/dev/null rw
DeviceAllow=/dev/net/tun rw
ProtectSystem=true
ProtectHome=true
PrivateTmp=true

[Install]
WantedBy=multi-user.target
